{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["next/core-web-vitals","eslint:recommended","plugin:@typescript-eslint/eslint-recommended"],
  "rules": {
    "spellcheck/spell-checker": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error"
  },
  "plugins": [
    "@typescript-eslint",
    "spellcheck"
  ],
   "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  }
}
